/* Todas as demais midias */

/* Typical Device Breakpoints
-------------------------------- 
Pequenas telas: ate 320px;
Celular: de 320px ate 480px;
Tablet: 481px ate 768px;
Laptops: 769px ate 1024px;
Desktops: 1025px ate 1200px;
Grandes telas: 1201px e acima.
*/

@media screen and (max-width: 1150px) {

}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        
    }
    
}

/* Cell phone */
@media screen and (max-width: 480px) {

    
}