@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
}

html,
body {
    background-color: var(--cor5);
    min-height: 100vh;
}

main {
    min-width: 300px;
    max-width: 100vh;
    height: 80vh;
    display: grid;
    text-align: center;
    place-items: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.cadastro {
    background-color: white;
    width: 700px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#title_cadastre {
    color: rgba(0, 0, 0, 0.85);
    margin: 25px 0px;
    font: 30px normal 'Roboto', sans-serif;
}


label {
    display: flex;
    margin: -2px 0px 0px 4px;
    font-size: 18px;
}

select, #data {
    height: 30px;
    width: 350px;
    border: 0.5px solid gray;
    border-radius: 5px;
    margin-bottom: 25px;
    font: 17px 'Roboto', sans-serif;
}


#button {
    background-color: var(--cor3);
    color: var(--cor5);
    border: none;
    font-size: 19px;
    height: 50px;
    width: 120px;
    border-radius: 5px;
}
