* {
    margin: 0;
    padding: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html,
body {
    background: -webkit-linear-gradient(left, #402E2C, #8c6c5a);
    background: -moz-linear-gradient(left, #402E2C, #8c6c5a);
    background: -ms-linear-gradient(left, #402E2C, #8c6c5a);
    background: -o-linear-gradient(left, #402E2C, #8c6c5a);
    background: linear-gradient(to right, #402E2C, #8c6c5a);
}


.area_login {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

.login {
    background-color: #fff;
    border-radius: .3rem;
    height: 100vh;
    width: 47vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#titulo {
    text-align: center;
    font-size: 3.6rem;
    font-family: 'Courier New', Courier, monospace;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 1.6rem;
}

.input {
    margin: 1.5rem 0;
}

.input input {
    background-color: #EFEFEF;
    color: rgb(104, 104, 104);
    padding: 1.8rem;
    font: 1.7rem normal Arial;
    border: .1rem solid black;
    border-radius: .4rem;
    margin: .6rem 0;
    width: 40vw;
}


#tipoUser {
    background-color: #EFEFEF;
    color: rgb(104, 104, 104);
    padding: 1.8rem;
    font: 1.7rem normal Arial;
    border: .1rem solid black;
    border-radius: .4rem;
    margin-bottom: 2rem;
    width: 46vw;
    max-width: 765.5px;
}


#button {
    padding: 1.8rem;
    font-size: 1.8rem;
    background-color: #261A1A;
    color: #fff;
    border: none;
    border-radius: .5rem;
    width: 46vw;
    max-width: 765.5px;
}



/* Aqui podemos configurar
   a estilização do título
*/
.blog-title {
    overflow: hidden;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.6rem;
}

/* Aqui criamos o estilo
     da linha esquerda (before)
     e linha direita (after) 
  */
.blog-title:before,
.blog-title:after {
    background-color: gray;
    content: "";
    display: inline-block;
    height: .1rem;
    position: relative;
    vertical-align: middle;
    width: 30%;
}

/* Aqui configuramos o estilo
     da linha esquerda (before)
  */
.blog-title:before {
    right: 0.5em;
}

/* Aqui configuramos o estilo
     da linha direita (after)
  */
.blog-title:after {
    left: 0.5em;
}


.cadastre {
    text-align: center;
}

.cadastre p {
    font-size: 2rem;
    font-weight: 200;
    color: gray;
    margin: 2rem 0;
}

.cadastre a {
    color: black;
    text-decoration: none;
    font: 3rem 300 arial;
}

.cadastre_google {
    display: flex;
    flex-direction: column;
}


.link {
    background-color: transparent;

    font-size: 1.4rem;

    border-radius: 5rem;
    border: none;

    width: 46vw;
    max-width: 765.5px;
    height: 4.2rem;
    margin-top: 2rem;
    margin: auto;

    outline: .1rem solid black;

    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: gray;
}

#google {
    margin-right: 1.5rem;
    height: 2.4rem;
}

@media screen and (max-width: 1060px) {
    label {

    }
}