@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
    --cor6:#a1a0a09b;
    --cor7:#bebebe8f;

}

html,
body {
    min-height: 100vh;
    background-color: var(--cor5);
}

main {
    height: 120vh;
    display: grid;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.tabela {
    margin: auto;
}

table {
    width: 943px;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

caption {
    background-color: var(--cor6);
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

thead,
tbody {
    background-color: var(--cor7);
    color: rgba(23, 23, 23, 0.928);
    font-size: 18px;
}

thead>tr>th {
    /* Barra fixa */
    position: sticky;
    top: 0;
    background-color: var(--cor3);
}

tbody>tr:nth-child(odd) {
    /* 2n - 1 */
    background-color: var(--cor4);
}

tbody>tr:nth-child(even) {
    /* 2n */
    background-color: var(--cor4_1);
}

.title {
    margin-bottom: 50px;
}


