@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #897059;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
    --cor6:#a1a0a09b;
    --cor7:#bebebe8f;

}

html,
body {
    background-color: var(--cor5);
}

main {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.livro {
    display: flex;
}

#imagem {
    height: 65vh;
    width: 23vw;
}

.title{
    font-size: 4rem;
    text-align: center;
}

.subtitle {
    font-size: 3rem;
    margin: 10px 0;
}

.informacoes {
    list-style: none;
    margin: 20px 0;
}

p, li {
    font-size: 2rem;
    font-weight: 500;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.buttonAtividade {
    height: 60px;
    width: 150px;
    border: 1.5px normal var(--cor1);
    background-color: #593527;
    color: #bda79b;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}

.buttonAtividade p {
    font-size: 2.3rem;
    margin: 15px 0;
}

.livro_imagem, .livro_texto {
    margin: 15px;
}

#linha {
    width: 70%;
    margin: 5px auto;
}