@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
}

html,
body {
    min-height: 100vh;
    background-color: var(--cor5);
}

main {
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    height: 90vh;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: white;
    border-radius: 5px;
    width: 985px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.452);
}

h2 {
    margin-bottom: 25px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.85);
}

label {
    font-size: 18px;
    margin: -2px 0px -8px 4px;
    display: flex;
}

input,
select {
    height: 40px;
    width: 350px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 25px 0px;
    border: 0.5px solid gray;
    border-radius: 10px;
}


#imgCadastre {
    height: 280px;
}

#buttom {
    color: var(--cor5);
    background-color: var(--cor3);
    border: none;
}

#container1 {
    margin: auto;
}

#container2 {
    margin: auto;
    padding-right: 50px;
}