* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
}

html,
body {
    min-height: 100vh;
    background-color: var(--cor5);
}

main {
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    height: 120vh;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: white;
    border-radius: 5px;
    width: 705px;
    height: 700px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.452);
}
form {
    display: grid;
    justify-items: start;
    justify-content: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 40px;
}

label {
    font-size: 20px;
    margin: -2px 0px -8px 4px;
}

input,
select {
    height: 40px;
    width: 350px;
    font-size: 17px;
    border: 0.5px solid gray;
    border-radius: 10px;
}

span {
    text-align: start;
    font: 20px;
}

.radioStatus {
    height: 20px;
    width: 25px;
}

.label {
    text-align: end;
}

#buttom {
    color: var(--cor5);
    background-color: var(--cor3);
}

#containerRadio {
    margin-bottom: 8px;
}