@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Mulish:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
    --cor6:#a1a0a09b;
    --cor7:#bebebe8f;

}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

[data-modal-loan], [data-modal-devolution] {
    height: 60vh;
    width: 50vw;
    border: none;
    border-radius: 1.5rem;
    margin: auto;
    background-color: var(--cor1);
    color: var(--cor5);
    box-shadow: 0 0 1rem rgb(0 0 0 / .3);
    font-family: 'Montserrat', sans-serif;
}

[data-close-modal-loan],[data-close-modal-devolution]  {
    display: flex;
    margin: 1.5rem 0 0 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.confirmacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 88%;
}

.titulo {
    font-size: 4rem;
}

.dados, .erro {
    font-size: 2.1rem;
    line-height: 3rem;
}

.variavel {
    font-weight: bolder;
}

.erro a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bolder;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.confirmation {
    height: 15vh;
}

/* @media screen and (max-width:980px) {
    .confirmacao {
        width: 80vw;
    }
    .titulo {
        font-size: 2.8rem;
    }
    .subtitle, .erro {
        font-size: 1.8rem;
    }
}

@media screen and (max-width:600px) {
    main {
        height: 120vh;
    }
    .confirmacao {
        height: 85vh;
        width: 92vw;
    }
    .titulo {
        font-size: 2rem;
    }
    .subtitulo {
        font-size: 1.8rem;
    }
    .erro {
        font-size: 1.4rem;
    }
} */

