@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
    --cor6:#a1a0a09b;
    --cor7:#bebebe8f;

}

html,
body {
    min-height: 100vh;
    background-color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1500px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.confirmacao {
    height: 500px;
    width: 600px;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.variavel {
    font-weight: bolder;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.red {
    height: 32px;
    width: 32px;
    background-color: red;
}