footer {
    background-color: #261A1A;
    color: white;
    font-family: 'Montserrat', sans-serif;
}



#header {
    text-align: center;
    padding-top: 50px; 
}

#header h1 {
    font: normal 45px 'Courier New', Courier, monospace;
}

.information {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

#instituicao {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#instituicao h3 {
    font-size: 25px;
}
#instituicao p {
    display: flex;
    font-size: 20px;
}
#instituicao img {
    margin-left: 10px;
}


#autor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#autor h3 {
    font-size: 25px;
}
#autor p {
    font-size: 20px;
    display: flex;
}
#autor img {
    margin-left: 10px;
}


.copy {
    text-align: center;
    padding: 1%;
    font-size: 20px;
}

