@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Mulish:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500&display=swap');

footer {
    background-color: #261A1A;
    color: white;
    font-family: 'Mulish', sans-serif;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
}

#title h1 {
    font: normal 45px 'Courier New', Courier, monospace;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h3 {
    font-size: 2.3rem;
}

.hr-footer {
    width: 8vw;
    margin-bottom: 1rem;
}

#abas a, #autor a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

#abas a:hover, #autor a:hover {
    text-decoration: underline;
}

#autor {
    height: 25vh;
}

.copy {
    text-align: center;
    padding: 1%;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .footer {
        height: 30vh;
    }
    #abas a, #autor a {
        font-size: 1.4rem ;
    }
}


@media screen and (max-width: 850px) {
    .information {
        flex-direction: column;
        align-items: center;
    }
    .information h3 {
        font-size: 1.8rem;
    }
    #abas a , #autor a {
        font-size: 1.5rem;
    }
    #title h1 {
        font-size: 3.5rem;
    }
    .copy {
        font-size: 1.6rem;
    } 
}