* {
    margin: 0;
    padding: 0;
}

:root {
    --corFundo: #261A1A;
    --corFundoDrop: #2f2121;
    --corFontes: #ffff;
    --corLinha: #3c3939;
}

#logo {
    color: var(--corFontes);
    text-decoration: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 25px;
}

nav {
    background: var(--corFundo);
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: var(--corFontes);
    display: block;
    text-decoration: none;
    line-height: 60px;
    padding: 0 20px;
    font-size: 19px;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul {
    background-color: var(--corFundoDrop);
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
}

nav ul ul li {
    width: 200px;
    border-top: 1px solid var(--corLinha);
}

nav ul ul li a {
    display: block;
    padding: 10px 20px;
    line-height: 20px;
    font-size: 14px;
}

.mobile_menu {
    display: none;
}

@media screen and (max-width: 815px) {

    .nav-list {
        display: none;
    }

    nav ul li {
        display: inline-block;
        position: relative;
    }

    nav ul li a {
        display: block;
        padding: 0 20px;
        line-height: 60px;
    }

    nav ul ul {
        position: static;
        display: none;
        margin: 0;
        padding: 0;
    }

    nav ul ul li {
        width: 100%;
        display: block;
    }

    .mobile_menu {
        display: block;
    }

    .mobile_menu button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .open {
        display: block;
    }
}