@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
}

html,
body {
    min-height: 100vh;
    background-color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding-bottom: 15px;
    font: normal 40px Arial;
}

table {
    width: 900px;
    border-collapse: collapse;
    margin: 100px 0px 0px 30px;
    font-family: 'Roboto', sans-serif;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: #a1a0a09b;
}

thead,
tbody {
    background-color: #bebebe8f;
    font-size: 18px;
    color: rgba(23, 23, 23, 0.928);
}

thead>tr>th {
    /* Barra fixa */
    position: sticky;
    top: 0;
    background-color: var(--cor3);
}

tbody>tr:nth-child(odd) {
    /* 2n - 1 */
    background-color: var(--cor4);
}

tbody>tr:nth-child(even) {
    /* 2n */
    background-color: var(--cor4_1);
}

.link {
    color: var(--cor5);
    text-decoration: none;
}

.divPart {
    height: 82vh;
    width: 98.7vw;
}

#divCards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divPart 

.card {
    height: 330px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.578);
    margin-left: 20px;
    border-radius: 10px;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
    color: black;
    font-size: 20px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.661);
}

@keyframes changeBackgroundColor {
    5% {
        background-color: #8C6B4F;
      }
    100% {
      background-color: #8C6B4F;
    }
}

.card img {
    max-width: 150px;
    margin-top: -135px;

}
.card p {
    margin-top: -50px;
}
.card h2 {
    margin-top: -20px;
}

.card:hover {
    border: none;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.661);
    transition: transform .3s, border 1s;
    animation: changeBackgroundColor 10s infinite;
    color: #F2EAE9;
}


#search {
    width: 700px;
    height: 43px;
    font: normal 23px Roboto;
    padding: 26.5px 24px 20px;
    border: 1px gray solid;
    border-radius: 5px;

}

#autocomplete{
    display: none;
    background-color: white;
    border: solid 1px #333;
    position: absolute;
    height: 150px;
    overflow: scroll;
    width: 38%;
}

#autocomplete ul {
    list-style: none;
    padding: 4px;
}
#autocomplete ul li {
    border-bottom: solid 1px #333;
}

#autocomplete ul li:hover {
    background-color: beige;
    cursor: pointer;
}



#tableInfo {
    margin: 25px;
    display: grid;
    place-items: center;
}

#box-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttom-search {
    background-color: #593527;
    margin-left: -28px;
    padding: 10px 15px 10px 12px;
    border-radius: 0px 5px 5px 0px;
    border: 1px #593527 solid;
}

#buttom-search:hover {
    background-color: #684030;
}

#divInformationLoan {
    margin: 50px 0px;
}


#divWelcome {
    background-color: #e1dad97b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#information {
    width: 55vw;
    padding: 50px;
    margin: 50px;
    font-size: 25px;
}

#welcomeImg {
    width: 660px;
    height: 660px;
}

#columnchart_values {
    margin: auto;
}

