* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1:#261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
}

html,
body {
    min-height: 100vh;
    background-color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

h1 {
    padding-bottom: 15px;
    font: normal 40px Arial;
}

#search {
    width: 700px;
    height: 43px;
    font: normal 23px Roboto;
    padding: 26.5px 24px 20px;
    border: 1px gray solid;
    border-radius: 5px;

}

#tableInfo {
    margin: 25px;
    
}

#box-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttom-search {
    background-color: #593527;
    margin-left: -28px;
    padding: 10px 15px 10px 12px;
    border-radius: 0px 5px 5px 0px;
    border: 1px #593527 solid;
}

.divPart {
    height: 75vh;
}

table {
    width: 900px;
    border-collapse: collapse;
    margin: 100px 0px 0px 30px;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: #a1a0a09b;
}

thead, tbody {
    background-color: #bebebe8f;
    font-size: 18px;
    color: rgba(23, 23, 23, 0.928);
}

thead>tr>th {
    /* Barra fixa */
    position: sticky;
    top: 0;
    background-color: var(--cor3);
}

tbody>tr:nth-child(odd) {
    /* 2n - 1 */
    background-color: var(--cor4);
}

tbody>tr:nth-child(even) {
    /* 2n */
    background-color: var(--cor4_1);
}