@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Mulish:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #261A1A;
    --cor2: #593527;
    --cor3: #897059;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
    --cor6: #a1a0a09b;
    --cor7: #bebebe8f;

}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html,
body {
    min-height: 100vh;
    background-color: var(--cor5);
}

main {
    height: 100vh;
    font-family: 'Mulish', sans-serif;
}


.perfil {
    border: none;
    border-radius: 1rem;
    background-color: #897059;
    height: 45rem;
    width: 70vw;
    margin: 10rem auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.perfil-funcionario {
    border: none;
    border-radius: 1rem;
    background-color: #897059;
    height: 60vh;
    width: 40vw;
    margin: 12rem auto ;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.title {
    text-align: center;
    margin-top: 1rem;
    font-size: 4rem;
}

#hr-title {
    width: 30vw;
    margin: auto;
}


#perfil {
    height: 230px;
    width: 230px;

}

.aboutPerfil span {
    font-weight: bolder;
}

.aboutPerfil {
    margin: 4rem 0;
    font-size: 2rem;
    line-height: 3rem;
}

#imagens {
    display: flex
}

.division {
    margin-left: 2rem;
}



@media screen and (max-width: 500px) {
    .perfil, .perfil-funcionario {
        border-radius: 0;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .title {
        margin: 0;
        font-size: 3.5rem;
    }
}