@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1:#261A1A;
    --cor2: #593527;
    --cor3: #8C6B4F;
    --cor4: #D9C1B4;
    --cor4_1: #bda79b;
    --cor5: #F2EAE9;
}

html,
body {
    min-height: 100vh;
    background-color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    height: 88vh;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 25px;
}

a {
    text-decoration: none;
    color: #F2EAE9;
    margin-left: 5px;
}

table {
    width: 900px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

thead, tbody {
    background-color: var(--cor3);
    font-size: 18px;
    color: rgba(23, 23, 23, 0.928);
}

thead>tr>th {
    /* Barra fixa */
    position: sticky;
    top: 0;
    background-color: var(--cor3);
}

tbody>tr:nth-child(odd) {
    /* 2n - 1 */
    background-color: var(--cor4);
}

tbody>tr:nth-child(even) {
    /* 2n */
    background-color: var(--cor4_1);
}

#classification_people {
    margin: 0px 0px 50px 45px;
}
 
#classification_people a {
    background-color: var(--cor3);
    border-radius: 10px;
    color: #F2EAE9;
    text-decoration: none;
    padding: 15px;
}

#containerTable {
    width: 903px;
    height: 550px;
    overflow-y: auto;
    margin: auto;
}

#containerTable::-webkit-scrollbar{
    background-color: #a29086;
    width: 23px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#containerTable::-webkit-scrollbar-thumb {
    background-color: #83756d;
    border-radius: 5px;
}

#containerTableFull {
    width: 924px;
    height: 550px;
    overflow-y: auto;
    margin: auto;
}

#containerTableFull::-webkit-scrollbar{
    background-color: #a29086;
    width: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#containerTableFull::-webkit-scrollbar-thumb {
    background-color: #83756d;
    border-radius: 5px;
}